[submodule "MinDef-Api-Gateway"]
	url = https://github.com/fhict-mindef-s66/MinDef-Api-Gateway.git
	path = MinDef-Api-Gateway
[submodule "MinDef-LogService"]
	url = https://github.com/fhict-mindef-s66/MinDef-LogService.git
	path = MinDef-LogService
[submodule "MinDef-AuthService"]
	url = https://github.com/fhict-mindef-s66/MinDef-AuthService.git
	path = MinDef-AuthService
[submodule "MinDef-Dashboard"]
	url = https://github.com/fhict-mindef-s66/MinDef-Dashboard.git
	path = MinDef-Dashboard
[submodule "MinDef-DataCollectorService"]
	url = https://github.com/fhict-mindef-s66/MinDef-DataCollectorService.git
	path = MinDef-DataCollectorService
[submodule "MinDef-DataCollectorService"]
	url = https://github.com/fhict-mindef-s66/MinDef-DataAnalyser.git
	path = MinDef-DataAnalyser
[submodule "MinDef-NotificationService"]
	url = https://github.com/fhict-mindef-s66/MinDef-NotificationService.git
	path = MinDef-NotificationService
[submodule "MinDef-Sensor-MockService"]
	url = https://github.com/fhict-mindef-s66/MinDef-Sensor-MockService
	path = MinDef-Sensor-MockService