[submodule "MinDef-Api-Gateway"]
	url = https://github.com/fhict-mindef-s66/MinDef-Api-Gateway
[submodule "MinDef-LogService"]
	url = https://github.com/fhict-mindef-s66/MinDef-LogService.git
[submodule "MinDef-AuthService"]
	url = https://github.com/fhict-mindef-s66/MinDef-AuthService.git
[submodule "MinDef-Dashboard"]
	url = https://github.com/fhict-mindef-s66/MinDef-Dashboard.git