apiVersion: v1
kind: Service
metadata:
  labels:
    mindef.service: authservice
  name: authservice
  namespace: mindef
spec:
  type: ClusterIP
  ports:
  - name: "http"
    port: 80
    targetPort: 80
  - name: "https"
    port: 443
    targetPort: 443
  - name: "db"
    port: 3306
    targetPort: 3306
  selector:
    mindef.service: authservice

